name: test-windows
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  test:
    env:
      GO111MODULE: "on"

    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install nats-server
        uses: aricart/install-binary@v1.0.0
        with:
          repo: nats-io/nats-server
          name: nats-server
          cache: true

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          check-latest: true

      - name: Tests
        run: go test -v ./... -count=1
